.blocks{
  padding:0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 266px);
  grid-template-rows: 430px;
  grid-auto-rows: 430px;
  column-gap: 24px;
  row-gap: 20px;
  justify-content: center;

}