/*.App {*/
/*  text-align: left;*/
/*  display:flex;*/
/*  flex-direction: column;*/
/*}*/

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}
.main1 {
  display:flex;
}
.App-link {
  color: #61dafb;
}
.list{
  display:flex;
  flex-wrap: wrap;
}
.main {
  min-width: 300px;
  text-align: left;
  display: inline-block;
  margin: 20px;
  padding: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, .2);
}

.navbar {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
.navItem:active,
.navItem {
  padding: 10px;
}
.navItem:hover
{
  background-color: #484646;
  border-radius: 5px;
  transition: .3s ease all;
}
.active {
  color: grey;
}
.navItem button {
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: inherit;
  font-style: italic;

}

.watchListHeader {
  display: flex;
  justify-content: space-between;
}


